.question{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    height: 100px;
    font-size: 1.25rem;
    font-weight: 600;
    text-align: center;
}
p{
    width: 400px;
}

.flag {
  width: 50px;      /* max width of the flag */
  height: auto;       /* maintain aspect ratio */
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}
