      .card{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 23px;
        margin-bottom: 25px;
        height: 440px;
        width: 320px;
        min-width: 320px;
        border-radius: 15px;
        background-color: #212936;
        box-shadow: 0px 30px 100px 0px rgba(17, 23, 41, 0.15);
      }
      .card h1{
        color: #E5E7EB;
        font-size: 1.25rem;
        font-weight: 600;
      }
      .card h5{
        color: #D2D5DA;
        font-size: 1rem;
        font-weight: 400;
      }
      .card img{
        border-radius: 15px;
      }
      .emoji{
        height: 52px;
        width: 52px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
      }